<form id="rePassword" action="#" method="POST" class="form-horizontal"
      th:object="${user}" th:action="@{/quen-mat-khau}">
    <section class="form-group" th:if="${error != null}">
        <div class="alert alert-danger" role="alert" th:text="${error}"></div>
    </section>
    <section class="form-group">
        <label class="text-uppercase">Tài khoản: </label>
        <input type="text" autofocus="autofocus" id="username"
               th:class="${#fields.hasErrors('username')}? 'form-control is-invalid' : 'form-control'"
               th:field="*{username}"/>
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error invalid-feedback"></span>
    </section>
    <section class="form-group">
        <label class="text-uppercase">Email: </label>
        <input id="email" type="text" autofocus="autofocus" class="form-control"
               th:class="${#fields.hasErrors('email')}? 'form-control is-invalid' : 'form-control'"
               th:field="*{email}"/>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error invalid-feedback"></span>
    </section>
    <section class="form-check">
        <button type="submit" class="btn btn-truyen float-right" name="submit">Gửi Mật Khẩu
        </button>
    </section>
</form>