<noscript>
    <div class="prenoscript">
        <div class="loadernoscript text-center font-weight-bold text-white">
            BẬT JAVASCRIPT ĐỂ TẬN HƯỞNG MỌI TÍNH NĂNG CỦA WEB
        </div>
    </div>
</noscript>
<div class="preloader">
    <div class="loader"></div>
</div>
<script type="text/javascript">
    window.addEventListener('load', function () {
        const loader = document.querySelector('.loader');
        loader.className += ' hidden';
        const preloader = document.querySelector('.preloader');
        preloader.className += ' complete';
    });
</script>
<noscript>
    <style>
        .preloader, .loader {
            visibility: hidden;
        }

        .lazyload {
            display: none !important;
        }
    </style>
</noscript>