<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <th:block th:insert="/fragments/header"></th:block>
    <!--Angular JS-->
    <script th:src="@{/bower/angular/angular.min.js}"></script>
    <!--Angular Sanitize JS-->
    <script th:src="@{/bower/angular-sanitize/angular-sanitize.min.js}"></script>
    <!--My AngularJS Controller-->
    <script th:src="@{/js/controller/homeChapterController.js}"></script>
    <!--Home AngularJS Service-->
    <script th:src="@{/js/service/WebService.js}"></script>
</head>
<body class="page-read body-home" ng-app="ngApp" ng-controller="chapterCtrl" th:ng-init="|init(${chapter.story.id}, ${chapter.id})|">
<section class="page-wrapper">
    <!--NavBar-->
    <section th:replace="/fragments/navbar"></section>

    <!--Body-->
    <section class="truyen-main">
        <section th:replace="/breadcrumb/chapterBreadcrumb"></section>
        <section class="truyen-section section-read-info">
            <section class="container">
                <section class="read-info-block text-center">
                    <h1 class="title">
                        <a th:href="@{'/truyen/' + ${chapter.story.id}}" th:title="${chapter.story.vnName}"
                           th:text="${chapter.story.vnName}"></a>
                    </h1>
                    <ul class="list-unstyled meta">
                        <li>
                            <a class="author js-popover" data-toggle="popover"
                               data-target="#js-popover-read-author" data-placement="bottom" data-original-title="">
                                <section class="avatar">
                                    <img class="img-fluid lazyload" th:data-src="${chapter.user.avatar}">
                                </section>
                                <span th:text="${chapter.user.displayName}"></span>
                            </a>
                        </li>
                        <li>
                            <span class="item-icon">
                                <i class="truyen-icon icon-eye-grey"></i>
                            </span> <span th:text="${chapter.countView}"></span> lượt xem
                        </li>
                        <li>
                            <span class="item-icon">
                                <i class="truyen-icon icon-list-grey"></i>
                            </span>
                            <span th:text="${chapter.wordCount} + ' Chữ'"></span>
                        </li>
                        <li>
                            <span class="item-icon">
                                <i class="truyen-icon icon-time-grey"></i>
                            </span>
                            <span th:text="${#dates.format(chapter.createDate,'HH:mm - dd/MM/yy')}"></span>
                        </li>
                    </ul>
                </section>
            </section>
        </section>
        <section class="truyen-section section-read-container">
            <section class="container">
                <section class="truyen-read-block">
                    <section class="truyen-read-navigation text-center">
                        <a th:href="@{'/truyen/' + ${chapter.story.id} + '/chuong-' + ${preChapter}}"
                           class="btn btn-primary" th:classappend="${preChapter!=0} ? '': 'disabled'"
                           data-toggle="tooltip" data-placement="bottom" title="Chương trước">
                            <span class="btn-icon"> <i class="truyen-icon icon-prev-bold"></i> </span>
                        </a>
                        <a th:href="@{'/truyen/' + ${chapter.story.id}}" class="btn btn-transparent btn-outline-primary waves-effect">
                            <span class="btn-icon js-tooltip " data-toggle="tooltip" data-placement="bottom"
                                  title="Mục lục"> <i class="truyen-icon icon-list"></i> </span> </a>
                        <a th:href="@{'/truyen/' + ${chapter.story.id} + '/chuong-' + ${nextChapter}}"
                           class="btn btn-primary" th:classappend="${nextChapter!=0} ? '': 'disabled'"
                           data-toggle="tooltip" data-placement="bottom" title="Chương sau">
                            <span class="btn-icon"> <i class="truyen-icon icon-next-bold"></i> </span>
                        </a>
                    </section>
                    <section class="truyen-read-content" data-font-family="'Palatino Linotype', sans-serif"
                             style="width: 100%">
                        <section class="header">
                            <h2 class="title"
                                th:text="'Chương ' + ${chapter.chapterNumber} + ': ' + ${chapter.name}"></h2>
                        </section>
                        <section class="content" id="js-truyen-content"
                                 style="font-size: 26px; line-height: 140%; font-family: 'Palatino Linotype', sans-serif; word-wrap: break-word;">
                            <section class="content-vip" th:unless="${checkVip}">
                                <h3 class="text-danger text-center">Đây là chương truyện mất phí,bạn cần trả <strong
                                        th:text="${chapter.price}"></strong> đậu để
                                    xem, nếu đồng ý hãy ấn vào nút <strong>MUA</strong> bên dưới. </h3>
                                <p class="text-center">
                                    <button class="btn btn-primary" th:ng-click="|chapterVip('${chapter.id}')|">
                                        MUA
                                    </button>
                                </p>
                                <section class="alert alert-primary col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-12">
                                    <p class="text-justify small">- Chương truyện sau khi mua bạn có 24 tiếng để đọc,
                                        sau 24 tiếng nếu muốn đọc lại bạn phải mua lại.</p>
                                    <p class="text-justify small">- Chương truyện này sẽ cho đọc miễn phí sau <strong
                                            th:text="${chapter.story.timeDeal}"></strong> ngày kể từ lúc được đăng.</p>
                                </section>
                                <section class="clearfix"></section>
                            </section>
                            <th:block th:if="${checkVip}" th:utext="${chapter.content}"></th:block>
                        </section>
                    </section>
                    <section class="truyen-read-navigation text-center">
                        <a th:href="@{'/truyen/' + ${chapter.story.id} + '/chuong-' + ${preChapter}}"
                           class="btn btn-primary" th:classappend="${preChapter!=0} ? '': 'disabled'"
                           data-toggle="tooltip" data-placement="bottom" title="Chương trước">
                            <span class="btn-icon"> <i class="truyen-icon icon-prev-bold"></i> </span>
                        </a>
                        <a th:href="@{'/truyen/' + ${chapter.story.id}}" class="btn btn-transparent btn-outline-primary waves-effect">
                            <span class="btn-icon js-tooltip" data-toggle="tooltip" data-placement="bottom"
                                  title="Mục Lục"> <i class="truyen-icon icon-list"></i> </span> </a>
                        <a href="#modal-report" data-toggle="modal" class="btn btn-transparent btn-outline-primary waves-effect">
                            <span class="btn-icon js-tooltip" data-toggle="tooltip" data-placement="bottom"
                                  title="Báo lỗi"> <i class="truyen-icon icon-warning"></i> </span> </a>
                        <a th:href="@{'/truyen/' + ${chapter.story.id} + '/chuong-' + ${nextChapter}}"
                           class="btn btn-primary" th:classappend="${nextChapter!=0} ? '': 'disabled'"
                           data-toggle="tooltip" data-placement="bottom" title="Chương sau">
                            <span class="btn-icon"> <i class="truyen-icon icon-next-bold"></i> </span>
                        </a>
                    </section>
                    <section class="chapter-comment">
                        <section class="row">
                            <section class="col-md-12">
                                <section th:replace="/pagination/commentOfStoryPagination"></section>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>

</section>

<!--Footer-->
<section th:replace="/fragments/footer"></section>
</body>

<!-- Modal đăng ký rút tiền-->
<div class="modal fade" id="modal-report" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-notify modal-primary" role="document">
        <!-- Content -->
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header">
                <p class="heading lead">Báo Lỗi</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <form ng-submit="submitReport()">
                <!-- Body -->
                <div class="modal-body">
                    <!-- Material input -->
                    <div class="md-form">
                        <textarea type="text" id="infomation" name="infomation" rows="6" class="form-control md-textarea" ng-model="reportMss"
                                  placeholder="Nội dung báo lỗi không được để trống"></textarea>
                        <label for="infomation" class="text-primary">Nội dung báo lỗi</label>
                    </div>
                </div>

                <!-- Footer -->
                <div class="modal-footer justify-content-center">
                    <input type="submit" class="btn btn-primary waves-effect waves-light" value="Báo Lỗi" id="submitWD">
                </div>
            </form>
        </div>
        <!-- Content -->
    </div>
</div>
</html>