<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="vi">
<head>
    <th:block th:insert="/fragments/header"></th:block>
</head>
<body class="page-login">
    <th:block th:insert="/fragments/loading"></th:block>
    <section class="page-wrapper">
        <section th:replace="/fragments/navbar"></section>
        <section class="truyen-main">
            <script type="text/javascript" sec:authorize="isAuthenticated()" `>
                window.location = '[[@{/}]]';
            </script>
            <section id="content" class="container">
                <section class="row">
                    <section class="login-block">
                        <section class="container">
                            <section class="row truyen-login-row">
                                <section class="col-lg-4 login-sec">
                                    <h2 class="text-center text-uppercase">Quên Mật Khẩu</h2>
                                    <form th:replace="web/form/forgotForm"></form>
                                </section>
                                <section class="col-lg-8 banner-sec pl-0 pr-0">
                                    <section th:replace="/slide/loginSlide"></section>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </section>
        <section th:replace="/fragments/footer"></section>
    </section>
</body>
</html>