<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi"
>
<head>
    <th:block th:insert="/fragments/header"></th:block>
    <!--Angular JS-->
    <script th:src="@{/bower/angular/angular.min.js}"></script>
    <!--Angular Sanitize JS-->
    <script th:src="@{/bower/angular-sanitize/angular-sanitize.min.js}"></script>
    <!--My AngularJS Controller-->
    <script th:src="@{/js/controller/homeController.js}"></script>
    <!--Home AngularJS Service-->
    <script th:src="@{/js/service/WebService.js}"></script>
</head>
<body ng-app="ngApp" ng-controller="homeCtrl" ng-init="init()">
<section class="col-12">
    <div class="pb-2 pt-2 mb-4 border-bottom">
        <h3>
            <span class="oi oi-book"></span> Đăng Truyện
        </h3>
    </div>
    <form method="POST" class="form-horizontal"
          th:object="${story}"
          th:action="@{/tai-khoan/them_truyen}" enctype="multipart/form-data">
        <div class="form-group row">
            <label class="col-sm-2 font-weight-bold">Tên Tiếng Việt:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" th:field="*{vnName}"/>
                <span th:if="${#fields.hasErrors('vnName')}" th:errors="*{vnName}"
                      class="help-error"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 font-weight-bold">Tên Tiếng Trung:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" th:field="*{cnName}"/> <span
                    th:if="${#fields.hasErrors('cnName')}" th:errors="*{cnName}"
                    class="help-error"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 font-weight-bold">Link Tiếng Trung:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" th:field="*{cnLink}"/> <span
                    th:if="${#fields.hasErrors('cnLink')}" th:errors="*{cnLink}"
                    class="help-error"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 font-weight-bold">Tác giả:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" th:field="*{author}"/> <span
                    th:if="${#fields.hasErrors('author')}" th:errors="*{author}"
                    class="help-error"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 font-weight-bold">Giới Thiệu:</label>
            <div class="col-sm-8">
                <textarea id="mytextarea" class="form-control" th:field="*{infomation}"></textarea>
                <span th:if="${#fields.hasErrors('infomation')}"
                      th:errors="*{infomation}"
                      class="help-error"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 font-weight-bold">Thể Loại:</label>
            <div class="col-sm-8">
                <section class="col-12">
<!--                    <section class="row">-->
<!--                        <div class="form-check col-12 col-sm-6 col-md-4 col-lg-3 mr-0"-->
<!--                             th:each="category : ${categorylist}">-->
<!--                            <input class="form-check-input" type="checkbox"-->
<!--                                   th:field="*{categoryList}"-->
<!--                                   th:id="'inlineCheckbox'+ ${category.id}"-->
<!--                                   th:value="${category.id}">-->
<!--                            <label class="custom-control-label"-->
<!--                                   th:for="'inlineCheckbox'+ ${category.id}"-->
<!--                                   th:text="${category.name}"></label>-->
<!--                        </div>-->
<!--                    </section>-->
                    <section class="row">
                        <div class="custom-control custom-checkbox col-6 col-md-4 col-lg-2 mr-0" th:each="category : ${categorylist}">
                            <input type="checkbox" class="custom-control-input" th:field="*{categoryList}"
                                   th:id="'inlineCheckbox'+ ${category.id}"
                                   th:value="${category.id}">
                            <label class="custom-control-label" th:for="'inlineCheckbox'+ ${category.id}"
                                   th:text="${category.name}" style="line-height: 1.8"></label>
                        </div>
                    </section>
                </section>
                <section th:if="${#fields.hasErrors('categoryList')}"
                         th:errors="*{categoryList}"
                         class="col-12 help-error"></section>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 font-weight-bold">Hình Ảnh:</label>
            <div class="col-sm-8">
                <input class="form-control mb-2" type="file" id="inputFile"
                       th:field="*{uploadfile}"
                       accept="image/png, image/jpeg, image/jpg"/>
                <section class="col-12 col-sm-3">
                    <img id="imgLogo" class="img-fluid">
                </section>
            </div>
        </div>
        <div class="form-group text-right">
            <div class="col-sm-10">
                <a class="btn btn-truyen pr-2" th:href="@{/tai-khoan/quan_ly_truyen}">Quay
                    Lại</a>
                <input type="reset" class="btn btn-truyen" value="Khôi Phục"/>
                <input type="submit" class="btn btn-truyen" value="Đăng Truyện"/>
            </div>
        </div>
    </form>
</section>
</body>
</html>