<!-- Nav tabs -->
<ul class="nav nav-tabs nav-custom" role="tablist">
    <li class="nav-item active">
        <a class="nav-link active" data-toggle="tab" href="#truyen-detail-introduction"
           role="tab">
            Thông Báo
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#truyen-detail-story" role="tab"
           th:onclick="|storypostby(${user.id},1)|"> Truyện đã đăng
        </a>
    </li>
</ul>
<!-- Tab panes {Fade}  -->
<section class="tab-content">
    <section class="tab-pane tab-pane-custom fade show active" id="truyen-detail-introduction"
             name="truyen-detail-introduction" role="tabpanel">
        <section class="row">
            <section class="col-sm-12 col-md-4 col-lg-3">
                <div class="truyen-detail-sidebar">
                    <div class="block block-normal">
                        <div class="block-content">
                            <div class="row">
                                <div class="col-12">
                                    <div class="block-detail-sidebar-author text-center">
                                        <div class="info"><a href="#" class="avatar">
                                            <img class="img-fluid lazyload"
                                                 th:data-src="${user.avatar}"> </a>
                                            <h2 class="name" th:text="${title}"></h2>
                                        </div>
                                        <ul class="list-unstyled truyen-author-badge"></ul>
                                        <div class="overview"><span class="cap-3">Ngày Tham Gia: <span
                                                th:text="${#dates.format(user.createDate, 'dd-MM-yyyy')}"></span></span>
                                        </div>
                                        <div class="statistic">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="item">
                                                        <span class="item-icon">
                                                            <i class="truyen-icon icon-book"></i>
                                                        </span>
                                                        <span class="item-value" th:text="${countStory}"></span>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="item">
                                                        <span class="item-icon">
                                                            <i class="truyen-icon icon-list"></i> </span>
                                                        <span class="item-value" th:text="${countChapter}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="col-sm-12 col-md-8 col-lg-9">
                <div class="alert alert-primary" role="alert">
                    <h5 th:if="${user.notification != null}"
                        th:text="${user.notification}"></h5>
                    <h5 th:unless="${user.notification != null}">Không có thông báo gì
                        mới</h5>
                </div>
            </section>
        </section>
    </section>
    <section class="tab-pane tab-pane-custom fade" id="truyen-detail-story" name="truyen-detail-story"
             role="tabpanel">
        <section class="row">
            <section class="col-12" ng-show="listStory.length === 0">
                <section class="alert alert-primary" role="alert">
                    <h5 class="text-center">Chưa có truyện đăng </h5>
                </section>
            </section>
            <section class="col-12" ng-show="listStory.length !== 0">
                <section class="block block-default block-list-new">
                    <section class="block-content" id="dataTable">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-table" ng-repeat="item in listStory">
                                <section class="content">
                                    <a class="thumb" ng-href="/truyen/{{item.id}}">
                                        <img class="img-fluid lazyload"
                                             ng-src=="{{item.images}}"
                                             alt="{{item.vnName}}">
                                    </a>
                                    <section class="info">
                                        <h2 class="title">
                                            <a ng-href="/truyen/{{item.id}}"
                                               ng-title="{{item.vnName}}">
                                                <img class="img-fluid"
                                                     ng-show="item.dealStatus === 2"
                                                     src="/images/vip-vip.gif">
                                                <span th:class="${story.dealStatus == 1}?'shadow-2' : ''"
                                                      th:text="${story.vnName}"></span>
                                            </a>
                                        </h2>
                                        <section class="chap" th:text="${story.author}"></section>
                                        <section class="author">
                                        <span class="d-block">
                                            <i class="fas fa-eye"></i> {{item.countView}} lượt xem
                                        </span>
                                        </section>
                                        <section class="time">
                                            <a th:if="${story.newChapter != null}"
                                               th:href="@{'/truyen/'+${story.id}+'/chuong-'+${story.newChapter.id}}"
                                               th:title="'Chương ' + ${story.newChapter.chapterNumber}"
                                               th:text="'Chương '+ ${story.newChapter.chapterNumber}"></a>
                                            <a class="d-block d-sm-none"
                                               th:unless="${story.newChapter != null}">&nbsp;</a>
                                            <small class="d-none d-sm-inline-block"
                                                   th:if="${story.newChapter != null}"
                                                   th:text="' - ' + ${story.timeUpdate}"></small>
                                        </section>
                                    </section>
                                </section>
                            </li>
                        </ul>
                        <section th:if="${totalIndex > 1}">
                            <ul class="pagination justify-content-end mb-3 mt-3">
                                <li th:if="${currentIndex != 1}" class="page-item">
                                    <a class="page-link" th:onclick="|storypostby(${uID},${currentIndex - 1})|">
                                        <i class="fas fa-step-backward fa-sm"></i>
                                    </a>
                                </li>
                                <th:block th:each="i : ${#numbers.sequence( beginIndex, endIndex)}">
                                    <li class="page-item active" th:if="${i == currentIndex}">
                                        <a class="page-link disabled"
                                           th:text="${i}"></a></li>
                                    <li class="page-item" th:unless="${i == currentIndex}"><a
                                            class="page-link"
                                            th:onclick="|storypostby(${uID},${i})|"
                                            th:text="${i}"></a></li>
                                </th:block>
                                <li th:if="${currentIndex != totalIndex}" class="page-item">
                                    <a class="page-link"
                                       th:onclick="|storypostby(${uID},${currentIndex + 1})|">
                                        <i class="fas fa-step-forward fa-sm"></i>
                                    </a>
                                </li>
                            </ul>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>