<div class="col-lg-2 col-md-3">
    <div class="card card-custom bg-truyen text-white">
        <div class="card-header card-header-custom"
             data-toggle="collapse" data-target="#coltaikhoan"
             aria-expanded="true">
            <span class="fas fa-journal-whills fa-lg" aria-hidden="true"></span> Tài khoản <span
                class="float-right clickable"><font><span
                class="fa fa-chevron-down"></span></font><b><span
                class="fa fa-chevron-up"></span></b></span>
        </div>
        <div class="list-group" id="coltaikhoan">
            <a class="list-group-item" th:href="@{/tai-khoan/}">Hồ sơ</a>
            <a class="list-group-item" th:href="@{/tai-khoan/doi_mat_khau}">Đổi Mật
                Khẩu</a>
        </div>
    </div>
    <div class="card card-custom bg-truyen text-white">
        <div class="card-header card-header-custom"
             data-toggle="collapse" data-target="#coltaisan"
             aria-expanded="true">
            <span class="fas fa-journal-whills fa-lg"></span> Giao Dịch <span
                class="float-right clickable"><font><span
                class="fa fa-chevron-down"></span></font><b><span
                class="fa fa-chevron-up"></span></b></span>
        </div>
        <div class="list-group" id="coltaisan">
            <a class="list-group-item" th:href="@{/tai-khoan/nap-dau}">Nạp Đậu</a>
            <a class="list-group-item" th:href="@{/tai-khoan/log_xu}">Log Giao Dịch</a>
            <a class="list-group-item" th:href="@{/tai-khoan/rut_tien}"
               sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_CONVERTER','ROLE_SMOD')">Rút Tiền</a>
        </div>
    </div>
    <div class="card card-custom bg-truyen text-white">
        <div class="card-header card-header-custom"
             data-toggle="collapse" data-target="#colconverter"
             aria-expanded="true">
            <span class="fas fa-journal-whills fa-lg"></span> Truyện <span
                class="float-right clickable"><font><span
                class="fa fa-chevron-down"></span></font><b><span
                class="fa fa-chevron-up"></span></b></span>
        </div>
        <div class="list-group" id="colconverter">
            <a class="list-group-item" th:href=" @{/tai-khoan/them_truyen}">Đăng Truyện</a>
            <a class="list-group-item" th:href="@{/tai-khoan/quan_ly_truyen}">Quản
                lý Truyện</a>

        </div>
    </div>
</div>